:root {
  --bg-color: #1e1e2e;
  --bg-color-2: #181825;
  --card-color: #11111b;
  --text-color: #cdd6f4;
  --subtext-color: #a6adc8;
  --accent: #b4befe;
  --link-color: #89b4fa;
  --page-width: 1400px;
}

.google-sans-regular {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}

.about-me{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  justify-content: center;
}

@media (max-width: 1000px) {
  .about-me {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Google Sans", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

header {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.headshot {
  max-height: 120px;
  border-radius: 30%;
  border: 1px solid var(--accent);
  @media (max-width: 1000px) {
    max-height: 70px;
  }

}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  @media (max-width: 650px) {
    font-size: 2rem;
  }
  @media (max-width: 580px) {
    font-size: 1.5rem;
  }
  @media (max-width: 525px) {
    font-size: 1rem;
  }
}

.name {
  color: #dc8a78;
  background-image: linear-gradient(45deg, #dc8a78 45%, #7287fd 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px
}

.name-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px
}

.info-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--card-color);
  border: 1px solid var(--accent);
}

.info-card h3 {
  margin-bottom: 0;
  padding-left: 1rem;
  align-self: flex-start;
}

.info-card ul {
  list-style: disc;
  padding-inline: 2rem;
  gap: 0;
}


a {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  color: var(--subtext-color);
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.contact-content {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

main {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 1rem 1.5rem 2rem;
  border-radius: 8px;
}

.card-container ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  padding-left: 0;
  gap: 1.5rem;
}

@media (max-width: 1000px) {
  .card-container ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    list-style: none;
    padding-left: 0;
    gap: 1.5rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--card-color);
  justify-content: space-between;

}

.card-link {
  display: flex;
  padding-left: 1rem;
}

.link-row {
  display: flex;
}

.card-content {
  padding: 0 1rem 0 1rem;
}

.card-content h3 {
  margin-top: 12px
}

.card-content p {
  margin-bottom: 0;
}


.project-image {
  height: 400px;
  width: 100%;
  object-fit: contain;
  display: block;
}
